## Raw training set

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("/workspace/datasets/train.csv")

In [4]:
gb = df.groupby('query')

In [ ]:
df.head()

In [5]:
lte2 = gb.size().sort_values() < 2

In [9]:
lte2

query
!pod                                        True
Wireless Kit                                True
Wireless LAN adapters                       True
Wireless LAN adaptor                        True
Wireless Microphone                         True
                                           ...
hp touchpad                                False
iPad                                       False
Hp touchpad                                False
2622037 2127204 2127213 2121716 2138291    False
lcd tv                                     False
Length: 257860, dtype: bool

## XGB training set

In [29]:
txgb = pd.read_csv("/workspace/ltr_output/training.xgb", sep="\t", header=None)

In [30]:
txgb

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.75,qid:1414,1:0.0000,2:0.0000,3:183.9900,4:199.9900,5:80.0000,6:28.0000,7:22.0000,8:0.1450 # 9225377,1.0,TV,fake
1,1.00,qid:1688,1:14.8164,2:0.0000,3:359.9900,4:359.9900,5:10000000.0000,6:10000000.0000,7:72489.0000,8:0.3430 # 2512059,1.0,acer iconia a500,fake
2,0.00,qid:541,1:8.2911,2:8.2911,3:89.9900,4:139.9900,5:10000000.0000,6:29321.0000,7:18525.0000,8:0.0290 # 9937316,7.0,Garmin,fake
3,0.75,qid:3024,1:0.0000,2:0.0000,3:124.9900,4:179.9900,5:14340.0000,6:12367.0000,7:4890.0000,8:0.1340 # 9927197,1.0,tom tom,fake
4,0.50,qid:1746,1:6.6643,2:6.6643,3:629.9900,4:629.9900,5:10000000.0000,6:10000000.0000,7:226885.0000,8:0.0560 # 2712418,6.0,asus laptop,fake
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8756,0.75,qid:2293,1:4.6276,2:0.0000,3:29.9900,4:29.9900,5:10000000.0000,6:133653.0000,7:70511.0000,8:0.1690 # 8723553,2.0,iPhone car charger,fake
8757,0.50,qid:809,1:2.9917,2:2.9917,3:349.9900,4:349.9900,5:10000000.0000,6:105213.0000,7:106626.0000,8:0.0840 # 2969477,1.0,Laptop,fake
8758,0.00,qid:193,1:12.1914,2:0.0000,3:399.9900,4:399.9900,5:3585.0000,6:2915.0000,7:3755.0000,8:0.0490 # 9710711,6.0,Beats headphones,fake
8759,0.75,qid:465,1:0.0000,2:0.0000,3:18.9900,4:18.9900,5:568.0000,6:440.0000,7:389.0000,8:0.1180 # 9251105,1.0,Earphones,fake
8760,1.00,qid:2608,1:15.3341,2:0.0000,3:399.9900,4:399.9900,5:10000000.0000,6:101296.0000,7:55247.0000,8:0.6130 # 1978047,1.0,nikon p500,fake

In [31]:
txgb[0].value_counts()

0.75    2891
0.00    2215
1.00    2021
0.50    1634
Name: 0, dtype: int64

In [32]:
txgb[txgb[9].str.contains('8:0.0000') == False]

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.75,qid:1414,1:0.0000,2:0.0000,3:183.9900,4:199.9900,5:80.0000,6:28.0000,7:22.0000,8:0.1450 # 9225377,1.0,TV,fake
1,1.00,qid:1688,1:14.8164,2:0.0000,3:359.9900,4:359.9900,5:10000000.0000,6:10000000.0000,7:72489.0000,8:0.3430 # 2512059,1.0,acer iconia a500,fake
2,0.00,qid:541,1:8.2911,2:8.2911,3:89.9900,4:139.9900,5:10000000.0000,6:29321.0000,7:18525.0000,8:0.0290 # 9937316,7.0,Garmin,fake
3,0.75,qid:3024,1:0.0000,2:0.0000,3:124.9900,4:179.9900,5:14340.0000,6:12367.0000,7:4890.0000,8:0.1340 # 9927197,1.0,tom tom,fake
4,0.50,qid:1746,1:6.6643,2:6.6643,3:629.9900,4:629.9900,5:10000000.0000,6:10000000.0000,7:226885.0000,8:0.0560 # 2712418,6.0,asus laptop,fake
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8756,0.75,qid:2293,1:4.6276,2:0.0000,3:29.9900,4:29.9900,5:10000000.0000,6:133653.0000,7:70511.0000,8:0.1690 # 8723553,2.0,iPhone car charger,fake
8757,0.50,qid:809,1:2.9917,2:2.9917,3:349.9900,4:349.9900,5:10000000.0000,6:105213.0000,7:106626.0000,8:0.0840 # 2969477,1.0,Laptop,fake
8758,0.00,qid:193,1:12.1914,2:0.0000,3:399.9900,4:399.9900,5:3585.0000,6:2915.0000,7:3755.0000,8:0.0490 # 9710711,6.0,Beats headphones,fake
8759,0.75,qid:465,1:0.0000,2:0.0000,3:18.9900,4:18.9900,5:568.0000,6:440.0000,7:389.0000,8:0.1180 # 9251105,1.0,Earphones,fake
8760,1.00,qid:2608,1:15.3341,2:0.0000,3:399.9900,4:399.9900,5:10000000.0000,6:101296.0000,7:55247.0000,8:0.6130 # 1978047,1.0,nikon p500,fake

## Result analysis

In [33]:
pd.set_option("display.width", None)

In [34]:
simple_better = pd.read_csv('/workspace/ltr_output/analysis/simple_better.csv')

In [35]:
simple_better

,query,sku,rank_simple,type_simple,found_simple,new_simple,score_simple,rank_ltr,type_ltr,found_ltr,new_ltr,score_ltr
0,adobe,1006357,66,simple,True,True,505.599980,67,ltr_simple,True,True,505.803040
1,Photoshop,1006357,20,simple,True,True,598.598800,21,ltr_simple,True,True,599.598800
2,Photoshop,9981206,21,simple,True,True,598.542850,22,ltr_simple,True,True,598.745900
3,portable dvd players,2815266,160,simple,True,True,115.889000,161,ltr_simple,True,True,116.092064
4,16gb SD card,1223834,34,simple,True,True,17.168137,35,ltr_simple,True,True,17.371204
5,16gb SD card,1701142,37,simple,True,True,17.168137,38,ltr_simple,True,True,17.371204
6,car stereos,1677254,386,simple,True,True,9.419027,390,ltr_simple,True,True,9.622095
7,car stereos,1149632,387,simple,True,True,9.410027,391,ltr_simple,True,True,9.613095
8,car stereos,3130153,389,simple,True,True,9.410027,393,ltr_simple,True,True,9.613095
9,car stereos,1947141,391,simple,True,True,9.410027,395,ltr_simple,True,True,9.613095
10,car stereos,2414191,392,simple,True,True,9.410027,396,ltr_simple,True,True,9.613095
11,car stereos,3130241,400,simple,True,True,9.405027,404,ltr_simple,True,True,9.608095
12,car stereos,3130199,401,simple,True,True,9.405027,405,ltr_simple,True,True,9.608095
13,car stereos,2416532,441,simple,True,True,9.405027,445,ltr_simple,True,True,9.608095
14,car stereos,2416541,444,simple,True,True,9.405027,448,ltr_simple,True,True,9.608095
15,car stereos,2034199,447,simple,True,True,9.405027,451,ltr_simple,True,True,9.608095
16,car stereos,1918043,448,simple,True,True,9.405027,452,ltr_simple,True,True,9.608095
17,car stereos,1933398,449,simple,True,True,9.405027,453,ltr_simple,True,True,9.608095
18,car stereos,9897477,472,simple,True,True,9.405027,476,ltr_simple,True,True,9.608095
19,apple tv,1257136,65,simple,True,True,0.085689,66,ltr_simple,True,True,0.288757
20,ipod nano,1962089,379,simple,True,True,347.111480,381,ltr_simple,True,True,347.314540
21,ipod nano,1950279,381,simple,True,True,347.104500,383,ltr_simple,True,True,347.307560
22,HDMI,2317775,93,simple,True,True,475.227420,94,ltr_simple,True,True,475.430480
23,HDMI,2319285,96,simple,True,True,475.209400,97,ltr_simple,True,True,475.412480
24,HDMI,2317471,97,simple,True,True,475.209400,98,ltr_simple,True,True,475.412480
25,ipad 2,2985135,37,simple,True,True,293.247100,39,ltr_simple,True,True,293.450160
26,ipad 2,2985144,38,simple,True,True,293.247100,40,ltr_simple,True,True,293.450160
27,computer case,8188454,141,simple,True,True,0.086794,143,ltr_simple,True,True,0.289861
28,computer case,9515651,166,simple,True,True,0.082571,167,ltr_simple,True,True,0.285639
29,I pod touch cases,1328301,213,simple,True,True,12.183759,214,ltr_simple,True,True,12.386826
30,Computer speakers,2683194,76,simple,True,True,10.772753,80,ltr_simple,True,True,10.975821
31,god of war,8708883,8,simple,True,True,748.646670,10,ltr_simple,True,True,748.849730
32,external hard drive,9019279,313,simple,True,True,76.375046,314,ltr_simple,True,True,76.578110

In [36]:
simple_better[(simple_better['rank_simple'] < 10) & (simple_better['rank_ltr'] > 10)]

Empty DataFrame
Columns: [query, sku, rank_simple, type_simple, found_simple, new_simple, score_simple, rank_ltr, type_ltr, found_ltr, new_ltr, score_ltr]
Index: []

In [37]:
exp = pd.read_csv('/workspace/ltr_output/analysis/simple_ltr_explains.csv')

In [38]:
exp.head()

,query,sku,score,clause_0,clause_1,clause_2,Feature 0(name_match),Feature 1(name_phrase_match),Feature 2(name_hyphens_min_df),Feature 3(salePrice),Feature 4(regularPrice),Feature 5(salesRankShortTerm),Feature 6(salesRankMediumTerm),Feature 7(salesRankLongTerm),clause_3,clause_4,clause_5,clause_6
0,Samsung galaxy s,3521646,11.597778,0.118357,10.826989,0.652432,11.835712,0.0,594.0,199.99,199.99,16600.0,17571.0,15592.0,0.0,0.0,0.0,0
1,roxio,3303041,12.808317,0.630005,12.178312,0.000000,0.000000,0.0,15.0,99.99,99.99,14762.0,14473.0,15480.0,0.0,0.0,0.0,0
2,laptop bag,8219304,2.577059,0.056239,2.000000,0.520820,5.623893,0.0,3057.0,29.99,29.99,3036.0,2943.0,3294.0,0.0,0.0,0.0,0
3,laptop bag,1784104,2.572894,0.052074,2.000000,0.520820,5.207374,0.0,3057.0,43.99,43.99,18728.0,11748.0,13126.0,0.0,0.0,0.0,0
4,laptop bag,1259443,1.568318,0.052074,1.000000,0.516245,5.207374,0.0,3057.0,14.99,14.99,0.0,0.0,155743.0,0.0,0.0,0.0,0

In [39]:
exp.min()

query                             2622037 2127204 2127213 2121716 2138291
sku                                                               1004986
score                                                            0.506781
clause_0                                                          0.03178
clause_1                                                         0.084715
clause_2                                                              0.0
Feature 0(name_match)                                                 0.0
Feature 1(name_phrase_match)                                          0.0
Feature 2(name_hyphens_min_df)                                        2.0
Feature 3(salePrice)                                                 1.99
Feature 4(regularPrice)                                              1.99
Feature 5(salesRankShortTerm)                                         0.0
Feature 6(salesRankMediumTerm)                                        0.0
Feature 7(salesRankLongTerm)                                          0.0
clause_3                                                              0.0
clause_4                                                              0.0
clause_5                                                              0.0
clause_6                                                                0
dtype: object

In [40]:
exp['Feature 2(name_hyphens_min_df)'].describe()

count    9.900000e+01
mean     5.155793e+37
std      1.226292e+38
min      2.000000e+00
25%      7.800000e+01
50%      9.890000e+02
75%      1.916000e+03
max      3.402823e+38
Name: Feature 2(name_hyphens_min_df), dtype: float64