In [5]:
import pandas as pd

In [2]:
simple_better = pd.read_csv("/workspace/ltr_output/analysis/simple_better.csv")

In [3]:
simple_better.sort_values(["rank_ltr", "rank_simple"], ascending = (True, False))

,query,sku,rank_simple,type_simple,found_simple,new_simple,score_simple,rank_ltr,type_ltr,found_ltr,new_ltr,score_ltr
221,naruto,1443935,1,simple,True,True,692.89570,2,ltr_simple,True,True,1.412380
607,cd burner,14364804,1,simple,True,True,90.97389,2,ltr_simple,True,True,1.000000
776,trendnet,1457347,1,simple,True,True,778.36980,2,ltr_simple,True,True,1.412380
779,Un55d7000,2135045,1,simple,True,True,0.43200,2,ltr_simple,True,True,1.796856
897,motorola triumph,2690337,1,simple,True,True,833.44750,2,ltr_simple,True,True,1.412380
...,...,...,...,...,...,...,...,...,...,...,...,...
1308,2622037 2127204 2127213 2121716 2138291,3590335,105,simple,True,True,0.00200,499,ltr_simple,True,True,0.203373
1444,labtops,7689281,31,simple,True,True,0.05591,499,ltr_simple,True,True,0.203373
1439,2622037 2127204 2127213 2121716 2138291,8771929,308,simple,True,True,0.00100,500,ltr_simple,True,True,0.203373
1108,iPhone,18268199,88,simple,True,True,899.62274,500,ltr_simple,True,True,0.203373
292,tablet,15457961,2,simple,True,True,625.65186,500,ltr_simple,True,True,0.203373

In [6]:
exp = pd.read_csv("/workspace/ltr_output/analysis/simple_ltr_explains.csv")

In [7]:
exp.columns

Index(['query', 'sku', 'score', 'clause_0', 'clause_1', 'clause_2', 'clause_3',
       'clause_4', 'Feature 0(name_match)', 'Feature 1(name_phrase_match)',
       'Feature 2(salePrice)', 'Feature 3(regularPrice)',
       'Feature 4(salesRankShortTerm)', 'Feature 5(salesRankMediumTerm)',
       'Feature 6(salesRankLongTerm)', 'Feature 7(click_prior)', 'clause_5',
       'clause_6'],
      dtype='object')

In [8]:
exp

,query,sku,score,clause_0,clause_1,clause_2,clause_3,clause_4,Feature 0(name_match),Feature 1(name_phrase_match),Feature 2(salePrice),Feature 3(regularPrice),Feature 4(salesRankShortTerm),Feature 5(salesRankMediumTerm),Feature 6(salesRankLongTerm),Feature 7(click_prior),clause_5,clause_6
0,westinghouse,8762289,660.37970,551.921750,0.034000,108.219950,0.102322,0.101686,10.232228,10.232228,19.99,19.99,1.0,1.000000e+00,0.0,0.034,0.000000,0
1,westinghouse,2533292,572.04320,477.719420,94.127975,0.094128,0.101686,0.000000,9.412797,9.412797,119.99,119.99,1.0,1.000000e+00,1.0,0.000,0.000000,0
2,westinghouse,9185534,535.61615,447.628970,0.034000,87.770380,0.081133,0.101686,8.113315,8.113315,349.99,349.99,1.0,1.000000e+00,0.0,0.034,0.000000,0
3,westinghouse,9572401,535.58920,447.628970,0.007000,87.770380,0.081133,0.101686,8.113315,8.113315,399.99,399.99,1.0,1.000000e+00,0.0,0.007,0.000000,0
4,westinghouse,9185543,535.58215,447.628970,87.770380,0.081133,0.101686,0.000000,8.113315,8.113315,349.99,349.99,1.0,1.000000e+00,0.0,0.000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,e-40,6750759,1150.49670,0.099275,942.865360,188.573060,9.454798,9.402510,9.927508,9.927509,9.99,9.99,1.0,1.000000e+00,0.0,0.000,0.101686,0
95,ram,9026412,325.62970,272.133480,0.026031,53.359497,0.009000,0.101686,5.151768,5.151768,99.99,99.99,1.0,1.000000e+00,0.0,0.009,0.000000,0
96,weeds,982413,712.80914,0.079179,0.048000,0.101686,595.763850,116.816440,10.349875,10.349875,14.99,14.99,0.0,0.000000e+00,0.0,0.048,0.000000,0
97,weeds,7864448,513.42650,0.055166,0.101686,429.127080,84.142560,0.000000,7.211074,7.211074,19.99,19.99,0.0,1.206050e-26,0.0,0.000,0.000000,0
98,weeds,1931114,401.27917,0.044395,0.048000,0.101686,335.333440,65.751650,5.803142,5.803142,23.99,23.99,0.0,0.000000e+00,0.0,0.048,0.000000,0